<!DOCTYPE html>
<html lang="js" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VueTEst</title>
    <link rel="stylesheet" href="style.css">
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <header>

    </header>
    <main>

      <div id="app">
        <p>{{ message }}</p>
        <ol>
            <todo-item></todo-item>
            <todo-item></todo-item>
        </ol>
      </div>
      <div id="app2">
        <span v-if="seen">Now you see me</span>
      </div>
      <div id="app3">
        <ol>
          <li v-for="todo in todos">
            {{todo.text}}
          </li>
        </ol>
      </div>

      <div id="app4">
          <p>{{ message }}</p>
          <button v-on:click="reverseMessage">Reverse Message</button>
      </div>

      <div id="app5">
        <p>{{message}}</p>
        <input v-model="message">
      </div>
      <div id="app6">
        <ol>
          <todo-item-2
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id">
          </todo-item-2>
        </ol>
        <!-- https://vuejs.org/v2/guide/list.html#key -->
      </div>

    </main>
    <footer>
      <p class="auther">this site created by yukikoma at 2018</p>
    </footer>

  <script type="text/javascript" src="testvue.js"></script>
  </body>
</html>
