<!DOCTYPE html>
<html lang="js" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>VueTEst</title>
    <link rel="stylesheet" href="style.css">
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<header>

</header>

<main>
    <div id="app2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>
    <div id="app-7">
        <ol>
            <!--
              各 todo-item の内容を表す todo オブジェクトを与えます。
              これにより内容は動的に変化します。
              また後述する "key" を各コンポーネントに提供する必要があります。
            -->
            <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>

    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>
</main>

<script type="text/javascript" src="testvue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
    var watchExampleVM = new Vue({
        el: '#watch-example',
        data: {
            question: '',
            answer: 'I cannot give you an answer until you ask a question!'
        },
        watch: {
            // この関数は question が変わるごとに実行されます。
            question: function (newQuestion, oldQuestion) {
                this.answer = 'Waiting for you to stop typing...'
                this.debouncedGetAnswer()
            }
        },
        created: function () {
            // _.debounce は特にコストの高い処理の実行を制御するための
            // lodash の関数です。この場合は、どのくらい頻繁に yesno.wtf/api
            // へのアクセスすべきかを制限するために、ユーザーの入力が完全に
            // 終わるのを待ってから ajax リクエストを実行しています。
            // _.debounce (とその親戚である _.throttle )  についての詳細は
            // https://lodash.com/docs#debounce を見てください。
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        methods: {
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'Thinking...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })
            }
        }
    })
</script>
</body>
</html>
